name: Build MicroPython ESP32 S3 Firmware

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install mpbuild
        run: |
          python --version
          pip install --upgrade pip
          pip install typing_extensions mpbuild

      - name: Clone MicroPython
        run: git clone https://github.com/micropython/micropython.git

      - name: Build ESP32_GENERIC_S3
        run: |
          cd micropython
          mpbuild build ESP32_GENERIC_S3

      - name: Upload firmware artifact
        uses: actions/upload-artifact@v4
        with:
          name: ESP32_GENERIC_S3_firmware
          path: micropython/ports/esp32/build-ESP32_GENERIC_S3/micropython.bin
