name: esp32 micropython fw with frozen modules

on:
  workflow_dispatch:  # Allows manual trigger from GitHub UI

jobs:
  setup-python:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up latest Python
        uses: actions/setup-python@v4
        with:
          python-version: 'latest'

      - name: Verify Python version
        run: python --version
